.container1 {
  display: grid;
  background-color: #232f3e;
}
.header1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  grid-column: 1/-1;
  height: 50px;
  background-color: rgba(1, 1, 3, 0.692);
  font-family: sans-serif;
  color: aliceblue;
  font-size: large;
}
.header1 img {
  max-height: 50px;
  object-fit: fill;
}
.logo {
  justify-self: flex-start;
  justify-content: flex-start;
  flex-shrink: 1;
}
.menu {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  grid-column: 1/-1;
  height: 2vw;
  color: rgb(255, 255, 255);
  font-family: sans-serif;
}
.image {
  grid-column: 1/-1;
  display: flex;
}

.search {
  display: flex;
  align-content: center;
  align-items: center;
  width: auto;
  flex-grow: 1;
}
.search input {
  display: block;
  flex-grow: 1;
}
.example {
  display: flex;
  flex-grow: 1;
}
.example button {
  color: rgb(0, 0, 0);
  background-color: rgb(218, 145, 78);
}
.signin-account-list {
  display: flex;
}
.menu {
  color: blue;
}
